form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
  padding: 2em;
}

form h2, form h3, p {
  text-align: center;
}

form h3{
  color: rgb(247, 196, 40);
  font-size: 16px;
  letter-spacing: .3em;
  font-weight: 800;
}

form h2 {
  color: #0079FF;
  font-size: 30px;
  font-weight: 800;
}

form p {
  color: #0079FF;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .1m;
}

form label {
  color: rgb(247, 196, 40);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .1m;
}

.email-input,
.password-input {
  font-size: 1.2em;
  background-color: rgba(255, 216, 99, .6);
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

.login-button {
  width: 100%;
  padding: 1em 2em;
  font-size: 1em;
  font-weight: 800;
  border-radius: 5px;
  transition: all 0.3s;
  background-color: rgb(255, 216, 99);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.login-button:hover {
  cursor: pointer;
  background-color: rgb(247, 196, 40);
  color: rgb(236, 238, 240);
}

.forgot-password,
.create-account {
  color: rgba(11, 11, 11, 0.65);
  transition: all 0.1s;
}

.forgot-password:hover,
.create-account:hover {
  color: rgb(247, 196, 40);
  cursor: pointer;
}

