* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */

.page-title {
  font-size: 3em;
  text-align: center;
  padding: 0.3em;
}

/* Header */

.header {
  background-color: rgb(247, 196, 40);
  height: 100vh;
  padding: 2% 3%;
}

.logo {
  background-color: rgb(245, 245, 245);
  width: 75px;
  height: 75px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  width: auto;
  height: 80%;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: 50%;
}

.left h2 {
  font-size: 5em;
}

.right {
  width: 40%;
  height: 100%;
  background-color: rgb(235, 235, 235);
  border-radius: 40px;
}

/* MAIN */

.main {
  height: 80vh;
  width: 90%;
  margin: 3% auto;
  display: flex;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.3em;
  padding: 10px;
  height: 500px;
  width: 30%;
}

.frame {
  border: 3px solid rgb(183, 183, 183);
  height: 200px;
  margin-bottom: 40px;
}

.card-text {
  background-color: rgb(183, 183, 183);
  height: 16px;
  margin-bottom: 20px;
}

/* FOOTER */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;

  background-color: rgb(247, 196, 40);
}
